<div class="ui fixed menu">
    <div class="ui container">
      <a href="#" class="item">Code Checker</a>
      <a href="#" class="item">By Gamma Team</a>
    </div>
  </div>

<div class="ui container">
    <div class="ui two column grid">
        <div class="column">
            <app-code-manager
                [disableButtons]="comparing"
                (onStatsReceived)="setStats($event)"
                (onCompareClicked)="comparing = !comparing"></app-code-manager>
        </div>
        <div class="column">
            <app-code-results
                *ngIf="!comparing"
                [stats]="stats"></app-code-results>
            <app-code-manager
                *ngIf="comparing"
                [disableButtons]="comparing"
                (onStatsReceived)="setStats($event)"
                (onCompareClicked)="comparing = !comparing"></app-code-manager>
        </div>
    </div>

    <div *ngIf="comparing" (click)="performComparison()" class="ui teal button">
        <i class="add icon"></i>Compare files
    </div>

  <app-code-comparison-result [stats]="stats"></app-code-comparison-result>
</div>


